<div class="text-center">
  <h3>Forgotten Password </h3> 
</div> 
  
<form [formGroup]="form" #EmailInformation (ngSubmit)="EmailForm(EmailInformation)">   
  <div class="row">  
    <div class=" col-md-8 col-md-offset-2">  
        <label for="email"> Email </label>  
        <input formControlName="email" class="form-control" type="text"> 
        <span
              *ngIf="!form.get('email').valid && form.get('email').touched && !form.get('email').dirty"
              class="help-block">Email address is required !
            </span>
            <span
              *ngIf="!form.get('email').valid && form.get('email').dirty"
              class="help-block">Please enter a valid email address!
            </span>
          
    </div>  
  </div> 

  
  <div class="row" style="margin-top: 40px;">  
    <div class="col-md-8 col-md-offset-2">  
        <button class="btn btn-md btn-success btn-style "  [disabled]="!form.valid">Submit</button>  
    </div>  
  </div>  
  
  
</form> 
<div class="row" style="margin-top: 40px;">  
    <div class="col-md-8 col-md-offset-2">   
        <button class="btn btn-primary btn-style pull-left" (click)="onCancel()">Login</button>
    </div>  
  </div> 

