<div class="container">  
  <div class="row">  
    <div class="col-md-8 col-md-offset-2">  
        <div class="panel panel-default">  
              <div class="panel-body">  
                <div class="text-center" *ngIf="!show"><h3>Forgotten Password </h3> </div>
                <div class="text-center" *ngIf="show">
                  <div class="text-center" *ngIf="hide">
                    <h3>OTP Verification </h3> </div>
                  </div>
                <div class="text-center" *ngIf="!hide"><h3>Reset Password </h3> </div>               
<hr>
 <div *ngIf="!show">
      <form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit(forgottenPasswordForm.value)" >
          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control" 
              (input)="onUpdateEmail($event)">
            <span
              *ngIf="!forgottenPasswordForm.get('email').valid && forgottenPasswordForm.get('email').touched && !forgottenPasswordForm.get('email').dirty"
              class="help-block">Email address is required !
            </span>
            <span
              *ngIf="!forgottenPasswordForm.get('email').valid && forgottenPasswordForm.get('email').dirty"
              class="help-block">Please enter a valid email address!
            </span>
          </div>
        <button class="btn btn-success " type="submit" [disabled]="!forgottenPasswordForm.get('email').valid">Submit</button>
        <hr>
      </form>
      <button class="btn btn-primary" type="login" (click)="onCancel()">Login</button>
      </div>
          <ng-container *ngIf="show">
            <div *ngIf="hide" >
              <p class="bg-info text-white">Enter OTP send to Email Address: 
                 {{ emailAddress }}</p>
                 <form [formGroup]="otpVerificationForm">
                  <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter One Time Password" 
                  formControlName="otp" id="otp">
                  <span
                  *ngIf="!otpVerificationForm.get('otp').valid && otpVerificationForm.get('otp').touched && !otpVerificationForm.get('otp').dirty"
                  class="help-block">OTP  is required !
                </span>
                
                  <br>
                  <p *ngIf="!allowResendOTP">OTP Expires in <countdown [config]="{leftTime: 600}"></countdown>  min</p>
                  <p *ngIf="allowResendOTP">Please Generate new OTP your previous OTP is expired.</p>
                  <br>
                  <button class="btn btn-primary pull-left" (click)="onCancel()">Cancel</button>
                  <button type="button" class="btn btn-success pull-right" (click)="onClick(forgottenPasswordForm.value,otpVerificationForm.value)" 
                  [disabled]="!otpVerificationForm.valid">Submit</button>
                  <div class="text-center">
                    <button class="btn btn-primary" (click)="onResend(forgottenPasswordForm.value)" [disabled]="!allowResendOTP">Resend OTP</button>
                  </div>
                </div>
                 </form>   
            </div>
            <div *ngIf="!hide">
            <app-reset-password></app-reset-password>
            </div>   
          </ng-container>
         
      </div>
    </div>
    </div>
    </div>

    </div>