<h3 style="text-align:center;">
    Quiz Sharing Module
    
</h3>
<html>
    <body>
        <div style="text-align:center;">
            <h3 >Congratulations! Your  quiz has been succesfully created!</h3>
            <br><br>
            Copy below link to share
            
            <!-- <button (click)="myFunction()" class="btn btn-primary">Copy this url below</button> -->
        </div>  
        <span class="login-text">
            <input type="text" id="textInput" value={{href}}/>
        </span>      
    </body>
</html>