<div class="text-center"><h3>Reset Password </h3> </div> 
<form [formGroup]="form" #ResetPwdInformation (ngSubmit)="ResetPwdForm(ResetPwdInformation)"
class="form-horizontal"> 
  <div class="row">  
    <div class=" col-md-8 col-md-offset-2">  
        <label for="password"> Password </label>  
        <input formControlName="password" class="form-control" type="password"
        minlength="8" maxlength="20" >  
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">Password is required.</div>
          <div *ngIf="f.password.errors.maxlength">Password length can not exceed 20.</div>
            <div *ngIf="f.password.errors.minlength">
              <ul>
             <li>Must be at least 8 characters long.</li>
             <li>Must contain at least 1 number.</li>
             <li>Must contain at least 1 letter in Capital Case.</li>
             <li>Must contain at least 1 letter in Small Case.</li>
             <li>Must contain at least 1 Special Character!</li>
             </ul>
            </div>
      </div> 
      <app-password-strength [passwordToCheck]="f.password.value" [barLabel]="barLabel">  
      </app-password-strength>
    </div>  
  </div>  
  
  <div class="row">  
    <div class=" col-md-8 col-md-offset-2">  
        <label for="confirmPassword"> Confirm Password </label>  
        <input formControlName="confirm_password" class="form-control" type="password"> 
        <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
          <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
          <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
      </div>
      <app-password-strength [passwordToCheck]="f.confirm_password.value" [barLabel]="barLabel">  
      </app-password-strength>  
    </div>  
  </div>  
  <div class="row" style="margin-top: 40px;">  
    <div class="col-md-offset-1 col-md-4">  
        <button class="btn btn-md btn-primary btn-style"  [disabled]="!form.valid">Save</button>  
    </div>  
  </div>  
  
</form>  